@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.dancing-script-unique{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  


/* shared styles */

.title1{color: rgb(255, 255, 255);  
    font-family: "Inter", sans-serif;  
    font-size: 4.8rem;
    font-weight: 800;
    margin-bottom: 20px;
    
}

.title2{color: rgb(255, 255, 255);   
    font-family: "Inter", sans-serif; 
    font-size: 3rem;
    font-weight: 800; 
    margin-bottom: 0px;
    margin-top: 10px;
   letter-spacing:0.1cap;
    
}

.title3{color: rgb(255, 255, 255);    
    font-family: "Inter", sans-serif;
    font-size: 1.75rem;
    font-weight: 800; 
    margin-bottom: 0px;
    margin-top: 15px;  
    
}

.title4{color: rgba(230, 83, 60, 1); 
    font-family: "Inter", sans-serif;   
    font-size: 2.2rem;
    font-weight: 700;
    font-style: italic; 
    margin-bottom: 0px;
    margin-top: 15px;  
    
}

.italic-text{
    color: rgb(255, 255, 255);  
    font-family: "Dancing Script", cursive;  
    font-size: 4.8rem;
    font-weight: 300;
    margin-bottom: 20px;

}

.sub-title1{color: rgb(255, 255, 255);    
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    font-weight: 660;   
    
}

.sub-title2{color: rgb(93, 85, 85); 
    font-family: "Inter", sans-serif;   
    font-size: 1rem;
    font-weight: 500; 
   
    
}

.sub-title3{color: rgb(211, 204, 204); 
    font-family: "Inter", sans-serif;   
    font-size: 0.8rem;
    font-weight: 500;

}

.btn{
    background-color:  rgba(230, 83, 60, 1) ;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 25px;
    margin-right: 10px;
    border: none;
    border-radius: 25px;
}

.btn01{
    background-color:  rgba(230, 83, 60, 1) ;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}

.btn02{
    background-color: black;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 25px;
    margin-right: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
}

.btn2{
    background-color:  rgba(185, 176, 176, 0.274) ;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 12px ;
    border: none;
    border-radius: 10px;
    
} 
body{
    margin: 0px;
}

header{
    background-image: radial-gradient(rgb(44, 44, 44),black);
    margin-bottom: -170px;
}

main{
    background-color: black;
}

.nav, .banner, .cng-habits, .habits{
    width: 80%;   
    margin: 0px auto;
    padding-top: 50px;
}
/* nav bar */

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-border{
    display: flex;
}

.nav-items{
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 30px;
    border: 1px solid rgb(103, 102, 102);
    padding: 12px;
    padding-left: 3px;
    padding-top: 10px;
    border-radius: 28px;
}

.nav-item{
    list-style: none;
  
}

.nav-name{
    text-decoration: none;
    color: aliceblue;
}

.hamburger{
    display: none;
}

/* banner section  */

.banner{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    gap: 450px;
}

.vid-btn{
    transform: translateX(-70px) translateY(-190px);
   
    display: flex;
    align-items: center;
    
    gap: 2px;
}

.wrk-btn{
    transform: translateX(190px) translateY(-500px);
    text-align: left;
}

/* habits section */

.cng-habits{
    margin: 0px auto;
    text-align: center;
    width: 560px;
}

.habits{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
  
}

.lists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;   
   
}

.habits .lists img{
    clip-path: circle();
}













@media screen and (max-width: 576px){

    header{
        margin: 0px auto;
       margin-bottom: -170px;
     
     }

    .nav-items{
        display: none;
    }

    .hamburger{
        display: block;
        cursor: pointer;
    }
    
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }

    .banner, .habits{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding-top:5px;
        
    }

    .habits{
        width: 250px;
        padding-bottom: 30px;
    }
    .cng-habits{
        width: 80%;
    }
     

    .onlybtn{
        display: flex;
    }

    .vid-btn{
        transform: translateX(6px) translateY(-130px);
    }
    

       
    


}